Source: cccp-meta
Section: metapackages
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2

Package: cccp-standard-meta
Architecture: all
Depends:
 adduser,
 apt,
 awk,
 console-setup,
 debconf,
 distro-info,
 dmidecode,
 dosfstools,
 e2fsprogs,
 eject,
 ethtool,
 file,
 hdparm,
 info,
 iproute2,
 iputils-ping,
 kbd,
 kmod,
 less,
 libpam-systemd,
 locales,
 login,
 logrotate,
 lshw,
 lsof,
 mount,
 parted,
 passwd,
 pciutils,
 procps,
 sensible-utils,
 strace,
 sudo,
 sysstat,
 systemd,
 systemd-sysv,
 time,
 trace-cmd,
 tzdata,
 ubuntu-keyring,
 udev,
 usbutils,
 vim-tiny,
 whiptail,
Recommends:
 bash-completion,
 bind9-dnsutils,
 busybox-static,
 bzip2,
 command-not-found,
 cpio,
 debian-archive-keyring,
 exfatprogs,
 fzf,
 htop,
 iputils-tracepath,
 man-db,
 manpages,
 mc,
 mtr-tiny,
 net-tools,
 netbase,
 netcat-openbsd,
 netplan.io,
 nftables,
 nmap,
 numactl,
 openssh-client,
 openssh-server,
 psmisc,
 python3,
 rename,
 ripgrep,
 rsync,
 sdparm,
 socat,
 systemd-homed,
 systemd-resolved,
 systemd-timesyncd,
 telnet,
 ufw,
 uuid-runtime,
 wget,
 xz-utils,
 zip,
Description: Standard set of CCCP Linux packages

Package: cccp-boot-meta
Architecture: all
Depends:
 initramfs-tools,
 linux-generic | kernel-pika,
 systemd-boot,
 zstd,
Description: Kernel and boot packages
